.input-box {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  width: 300px;
}

.input-box input,
.input-box select {
  width: 100%;
  margin-bottom: 10px;
}

.people-container {
  display: flex;
  gap: 20px;
}

.column {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  min-height: 300px;
}

.person {
  background: #f2f2f2;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}
.reactive-form-box {
  margin-top: 30px;
  padding: 15px;
  border: 1px solid #ccc;
}

.reactive-form-box input {
  width: 100%;
  margin-bottom: 10px;
}

.reactive-form-box button {
  margin-top: 10px;
}
.error {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}
