body {
  margin: 0;
  padding: 0;
}


.navbar {
  background-color: #333;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1800px;
  margin: -8px 4;
  padding: 1px 0px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 15px 15px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0;
}

.navbar-menu li {
  margin: 0;
}

.navbar-menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 20px;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 500;
}

.navbar-menu a:hover {
  background-color: #555;
}

.navbar-menu a.active {
  background-color: #d321f7;
  border-bottom: 3px solid #a10db3;
}

.logout-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s;
  height: 100%;
}

.logout-btn:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-menu {
    flex-wrap: wrap;
    width: 100%;
  }

  .navbar-menu a {
    flex: 1;
    text-align: center;
    padding: 15px 10px;
  }
}
